.base-container {
    width: 100%;
    height: 55vh;
    position: absolute;
    top: 28rem;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
}

.abt-family {
    grid-column: 1;
    /* margin-left: 3rem;
    margin-top: 5rem; */
    justify-content: center;
    border-right: 0.1em solid #CDCDCD;
    padding: 0 3.2rem;
    padding-top: 6rem ;
}

.family-sec-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-margin {
    margin: 2rem 0;
    border: 0.1rem solid #CDCDCD;
}

.family-title {
    font-size: 1.4rem;
    color: #1A1A1A;
    font-weight: bold;
    text-transform: uppercase;
}

.dots {
    display: flex;
    gap: 0.2rem;
    justify-content: center;
    margin-right: 1rem;
}

.dots:hover {
    color: #CDCDCD;
}

.family-dots {
    height: .2rem;
    width: .2rem;
    background-color: #1A1A1A;
    border-radius: 50%;
    cursor: pointer;
}

.img-sec-heading {
    color: #CDCDCD;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1.6rem;
}

.imgs {
    display: flex;
    gap: 1.6rem;
    margin-bottom: 2.4rem;
}

.fam-img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

.abt-me {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.me-sec-title {
    margin-bottom: 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.me-title {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
}

.personal-info {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.abt-margin {
    margin: 2rem 0;
    color: #CDCDCD;
}

.abt-info {
    display: flex;
    flex-direction: column;
    gap: .8rem;   
}

.abt-key {
    text-transform: uppercase; 
    font-size: 1.2rem;
    color: #CDCDCD;
    font-weight: bold;
}

.abt-value {
    font-size: 1.2rem;
    color: #1A1A1A;
}
