.main-container {
    width: 120rem;
    height: 90vh;
    background-color: #fff  ;
    position: absolute;
    top: 5%;
    left: 15%;
    box-shadow: rgba(50, 50, 93, 0.13) 1rem 1rem 3rem -5px, rgba(0, 0, 0, 0.3) 0px 8px 20px -8px;
}

.header {
    height: 20rem;
    overflow: hidden;
}

.bg-img {
    position: absolute;
    top: 0;
    height: 28rem;
    width: 100%;
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    height: 28rem;
    width: 100%;
    transition: .5s ease;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.main-nav {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.firm-intro {
    display: flex;
    gap: 0.2rem;
    align-items: center;
    margin: 0 3rem;
    cursor: pointer;
}

.firm-logo {
    height: 1.6rem;
    width: 2rem;
}

.firm-name {
    font-size: 1.1rem;
    font-weight: bold;
    color: #fff;
    transition: all 0.9;
}

.firm-name:hover {
    color: rgb(221, 212, 212);
}


.left-nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 3rem 3rem;
}

.help-btn {
    /* width: 10rem; */
    font-size: 1rem;
    font-weight: bold;
    padding: 0.8rem 1.6rem;
    background-color: gray;
    color: rgba(255, 255, 255, 0.89);
    border: none;
    opacity: .7;
    transition: all 0.9;
}

.help-btn:hover {
    cursor: pointer;
    background-color: black;
}

.notification {
    height: 2.4rem;
    width: 2.4rem;
    stroke: transparent;
    position: relative;
    cursor: pointer;
}

.notification:hover {
    transform: rotate(-45deg);
}

.notification-dot {
    position: absolute;
    height: 0.8rem;
    width: 0.8rem;
    background-color: pink;
    right: 0.3rem;
    top: 0.1rem;
    border-radius: 50%;
    z-index: 999;
}

.notify-logo {
    stroke: gray;
}

.notify-logo:hover {
    stroke: black;
}

.profile-logo {
    height: 2.6rem;
    width: 2.6em;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: all 0.9;
}

.title-info {
    width: 100%;
    height: 21rem;
    /* background-color: rgba(255, 0, 0, 0.295); */
    position: absolute;
    top: 7%;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.plan-info {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.greet-txt {
    font-size: 2.2rem;
    color: #fff ;
}

.key {
    font-size: 1.2rem;
    color: rgb(180, 172, 172);
}

.value {
    font-size: 1.2rem;
    color: #e6d4d4;
}

.progress {
    margin-left: auto;
    margin-right: 3rem;
    display: flex;
    height: 12rem;
    width: 25rem;
    border-radius: 0.3rem;
    background-color: rgba(146, 137, 137, 0.432);
    position: relative;
}

.progress-percent {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-around;
}

.percent {
    display: flex;
    background-color: rgb(167, 151, 151);
    height: 5rem;
    width: 5rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 2rem;
    font-size: 1.4rem;
    color: #fff;
    font-weight: bold;
}

.progress-bar {
    position: absolute;
    height: 7rem;
    width: 7rem;
    background-color: #FCA424;
    top: 2.5rem;
    left: 1.5rem;
    border-radius: 50%;
    border: 0.4rem solid #FCA424;
    background-color: transparent;
    border-top-color: rgb(167, 151, 151);
    transform: rotate(50deg);
}

.prog-title {
    width: 60%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.prog-title-text {
    font-size: 1.5rem;
    color: #fff;
}

.prog-sub-heading {
    font-size: 1.2rem;
    color: #ffffffc2;
}

.com-btn-sec {
    margin-top: 1.2rem;
}

.com-btn {
    border: none;
    padding: 0.8rem 1.4rem;
    background-color: #FCA424;
    font-size: 1.1rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.com-btn:hover {
    cursor: pointer;
    background-color: #c47a0b;
}

.profile-img {
    margin-top: 5rem;
    margin-left: 3rem;
}

.main-profile-pht {
    height: 23rem;
    width: 23rem;
    border-radius: 0.3rem;
}

